<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.draper.dao.ExcellentStudentMapper">

    <select id="selectAllExcellentStudent" resultType="com.draper.entity.ExcellentStudent">
        SELECT * FROM excellent_student;
    </select>

</mapper>